.header-bg {
    background: rgb(217, 54, 9);
}

.git-img {
    width: 15%;
}

.h-style {
    color: #fff;
    background: rgb(217, 54, 9);
    border: 5px dotted rgb(255, 255, 255);
}

.b-style {
    color: #fff;
    background: rgb(217, 54, 9);
    border: 5px dotted rgb(255, 255, 255);
}
