body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: #f74e27;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h2,
h3 h4,
h5,
h6 {
    color: #413932;
}

p {
    font-size: 10px;
    color: ffffff;
}

.img-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.git-img {
    width: 15%;
}

.button {
    background-color: #ffffff;
    border: 1px solid #f74e27;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
}

button:hover {
    background-color: #f74e27;
    color: #ffffff;
}

.display {
    display: none;
}

.display {
    display: flex;
}
