body {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1e9;
    color: #67443c;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.startpage {
    display: block;
}

.quizpage {
    display: none;
}

.resultpage {
    display: none;
}

.errormessage {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.git-img {
    width: 10%;
    height: auto;
}

h1 {
    font-size: 30px;
    color: #413932;
}
h2,
h3 h4,
h5,
h6 {
    color: #413932;
}

p {
    font-size: 10px;
    color: ffffff;
}

.button {
    background-color: #ffffff;
    border: 1px solid #f74e27;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
}

button:hover {
    background-color: #f74e27;
    color: #ffffff;
}

.display {
    display: none;
}

.display {
    display: flex;
}
